<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- ACCESS_FINE_LOCATION, ACCESS_COARSE_LOCATION and ACTIVITY_RECOGNITION are already
         declared by the bgeo-android engine AAR's own merged manifest. Google Play policy
         requires the APP (not a library) to declare background location, so the plugin AAR
         deliberately omits it; add it here, per README.md "Android setup". -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <application
        android:label="BGeoExample"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- Evaluation license: debug builds run unlicensed regardless of this
             value. In a RELEASE build this key must carry a real "BGEO1..."
             license (see lib/src/config.dart). -->
        <meta-data
            android:name="com.bgeo.license"
            android:value="EVALUATION" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
